<div class="container-xxl">


  <div class="card lm_card mb-4 mt-4" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img ng-src="{{getPosterPath(movieInfo)}}" class="card-img-top" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="lm_title_type1">{{movieInfo.title}}</div>
          <div class="row lm_text_type1">
            <div class="col-2">{{movieInfo.runtime}} min</div>
            <div class="col-10 lm_genre_wrapper">
              <div ng-repeat="genre in movieInfo.genres">
                <div>{{genre.name}}</div>
              </div>
            </div>
          </div>
          
          <div class="mt-4">{{movieInfo.overview}}</div>

          <div class="mt-4 row" ng-if="directors.length>0">
            <div class="col-2 lm_text_type2">
              Diretor<span ng-if="directors.length>1">es</span>:
            </div>
            <div class="col-10">
              <div class="" ng-repeat="director in directors">
                {{director.name}}
              </div>
            </div>
          </div>
          <div class="mt-2 row" ng-if="writers.length>0">
            <div class="col-2 lm_text_type2">
              Escritor<span ng-if="writers.length>1">es</span>:
            </div>
            <div class="col-10">
              <div class="" ng-repeat="writer in writers">
                {{writer.name}}
              </div>

            </div>
          </div>

          <div class="mt-4" style="display: flex;">
            <div ng-repeat="i in [1, 2, 3, 4, 5]">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gold"
                  class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
            </div>
          </div>
          
          

        </div>
      </div>
    </div>
  </div>


  <!-- <div class="row">
  <div class="col-12 col-sm-6">
    <img ng-src="{{getPosterPath(movieInfo)}}" class="card-img-top" alt="...">
  </div>
  <div class="col-12 col-sm-6">
    <div>{{movieInfo.title}}</div>
    <div>{{movieInfo.runtime}} min</div>
    <div>
      <div ng-repeat="genre in movieInfo.genres">
        <div>{{genre.name}}</div>
      </div>
    </div>
    <div>{{movieInfo.overview}}</div>
  </div>
</div> -->


  <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">

        <div class="card h-100">
            <img ng-src="{{getImagePath(movieInfo)}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{movieInfo.title}}</h5>
              <p class="card-text">{{movieInfo.overview}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg>
                  {{movieInfo.vote_average}}/10
                </small>
            </div>
          </div>
    </div>

  </div> -->

</div>